{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
   <div class="container-fluid d-flex justify-content-center align-items-center   flex-column  main">
         <h1>Je change de mot de passe</h1>
        {{ form_errors(form) }}

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.plainPassword, {
                label: 'Mot de passe'
            }) }}

            <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
   </div>
   

    
{% endblock %}
