    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://images.unsplash.com/photo-1551524559-8af4e6624178?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2tpfGVufDB8fDB8fHww" alt="Logo" width="80" height="55" class="d-inline-block align-text-top" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'app_accueil' ? 'active' : '' }}" aria-current="page" target="_self" href="{{ path('app_accueil') }}">Page d'accueil</a>
                    </li>
                    {% if app.user %} 
                     <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}" target="_self"  href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'app_figure_tricks' ? 'active' : '' }}" target="_self"  href="{{ path('app_figure_tricks') }}">Créer une figure</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}" target="_self" href="{{ path('app_register') }}">inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}" target="_self"  href="{{ path('app_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
